<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkbs.HKBS"
    android:versionCode="31"
    android:versionName="3.28" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!-- Add harwareAccelerated to avoid Fatal Signal 11
    http://stackoverflow.com/questions/14023291/fatal-signal-11-sigsegv-at-0x00000000-code-1-phonegap
-->
    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" > <!-- @android:style/Theme.DeviceDefault -->
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SupportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".JustBroadcast">
        </activity>
        <!-- INTERNAL LISTENER ON inten-filter ACTION -->
        <!-- <receiver -->
        <!-- android:name="com.hkbs.HKBS.MyBroadcast" -->
        <!-- android:exported="false" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="AxAlarm_Alarm"/> &lt;!&ndash; Please check AxAlarm for value &ndash;&gt; -->
        <!-- <action android:name="AxAlarm_DateChange" /> &lt;!&ndash; Please check AxAlarm for value &ndash;&gt; -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- EXTERNAL LISTENER ON inten-filter ACTION -->
        <receiver
            android:name=".MyBroadcast"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" > <!-- listen to reboot events -->
            <intent-filter>
                <action android:name="AxAlarm_Alarm" /> <!-- Please check AxAlarm for value -->
                <action android:name="AxAlarm_DateChange" /> <!-- Please check AxAlarm for value -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action." />
                <action android:name="com.hkbs.HKBS.WidgetUpdate" />
            </intent-filter>
        </receiver>
        <!--
    <receiver
        android:name="com.hkbs.HKBS.CWidget"
        android:exported="false"
        android:enabled="true">
        <intent-filter>
            <action android:name="AxAlarmAction" /> Please check AxAlarm for value
            <action android:name="AxAlarmAction" /> Please check AxAlarm for value
        </intent-filter>
    </receiver>
        -->
        <receiver android:name=".CWidgetNormal"
                  android:label="標準版面">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--<data android:scheme="CalendarWidget" />-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider" />
        </receiver>
        <receiver android:name=".CWidgetLarge"
                  android:label="大版面"
                  android:enabled="@bool/largerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--<data android:scheme="CalendarWidget" />-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider_large" />
        </receiver>
        <receiver android:name=".CWidgetSmall"
                  android:label="小版面"
                  android:enabled="@bool/smallerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--<data android:scheme="CalendarWidget" />-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider_small" />
        </receiver>
        <receiver android:name=".CWidgetMiddle"
                  android:label="中版面"
                  android:enabled="@bool/middleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--<data android:scheme="CalendarWidget" />-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider_middle" />
        </receiver>
        <receiver android:name=".CWidgetXLarge"
                  android:label="特大版面"
                  android:enabled="@bool/xlargerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--<data android:scheme="CalendarWidget" />-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider_xlarge" />
        </receiver>
        <!--
        n
        sn
        ln
        nl
        nm
        sm
        ns
        lx
        -->
    </application>

</manifest>
